* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../public/fondo.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 80%;
}

.contenedor{
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}